<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NETHook1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NETHook1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NETHook1.Properties.Settings>
            <setting name="FirstTimeRunning" serializeAs="String">
                <value>True</value>
            </setting>
        </NETHook1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NETHook1.Properties.Settings>
            <setting name="toolpathFilepath" serializeAs="String">
                <value>\\PAI5\SMMC Application Data\Mastercam\Ops\SLITTING FIXTURE\SLITTING</value>
            </setting>
        </NETHook1.Properties.Settings>
    </applicationSettings>
</configuration>